/*----global----*/
@font-face {
    font-family: "Retronoid";
    src: url("fonts/Retronoid-BZX3.ttf") format("truetype");
}
h1, h2, h3, h4{
    font-family: 'Manrope', serif;
}
p {
    font-size: 24px;
   font-family: 'Didact Gothic', sans-serif; 
}
#content{
    display:none;
}
/*-----front page---*/
#front-page .col-12{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    
}
#front-page h1 {
    font-family: "Retronoid";
    font-size: 110px;
    color: #FFEE00;
}
#front-page h1, #front-page button{
    
    margin-bottom: 0px;
    margin-top: 0px;
}

.carousel-item img{
    height: 990px;
}

#front-page button{
    margin-left:80px;
    margin-top: 15px;
    font-size: 25px;
    
}
.container-fluid{
    padding-left:0;
    padding-right: 0;
}

/*-----begin title---*/
.begin-title{
text-align: center;  
}

.begin-title img{
    height:500px;
    width:100%;
}
/*------NavBar-----*/
.nav li a{
    padding: 10px 20px;
    color:#FFEE00 !important;
    font-size: 17px;
}
.nav li{
    padding-right: 15px;
}
.dropdown{
    margin-top:10px;
}
.navbar h3 {
    font-family: "Retronoid";
    font-size: 60px;
    color: #FFEE00;
}
.navbar-brand{
    margin:-20px 5px;
}
#content .container-fluid, .profile-row .container-fluid{
    justify-content: flex-end;
}
/*------Dropdown width fix-----*/
.dropdown-menu{
    width:178px;
}
/*------Jumbotron-----*/
.jumbotron{
padding: 30px 20px;
margin-bottom:210px;
}
.jumbotron h2,.jumbotron p{
    padding-left: 15px;
    padding-right: 15px;
    font-weight:200;
}


/*------fact boxes-----*/
.fact-file{
    float:left;
    margin: 20px 50px;
    width:350px;
}
.fact-file h4{
    font-size: 20px;
}
.fact-file ul {
    margin-left: -40px;
    margin-top:15px;
}
.fact-file li {
    list-style-type: none;
    font-size: 14px;
    padding-bottom: 10px;
    color:#bd2130;
    font-weight: 500;
    line-height: 1.2;
}
.fa-gamepad{
    color:#000;
    font-size:19px !important;
    margin-left: -40px;
    margin-right: 15px;
}
/*------Games top ten-----*/
.col-7 img{
width:700px;
margin: 0px 20px 15px 0px;
}

.number-10,.number-9,.number-8,.number-7,.number-6,.number-5,.number-4,.number-3,.number-2,.number-1{
    margin-top:130px;
}
#content p{
    margin-top:-10px;
}

.number-10 img{
float:left;
}
.number-9 img{
float:right;
}
.number-9 h4{
    margin-top: -60px;
}
.number-9 .fact-file{
    float: right;
}
.number-8 img{
float:left;
}
.number-7 img{
float:right;
}
.number-6 img{
float:left;
}
.number-5 img{
float:right;
}
.number-4 img{
float:left;
}
.number-3 img{
float:right;
}
.number-2 img{
float:left;
}
.number-1 img{
float:right;
}
/*------Game Profiles-----*/

//.profile-row, .profile-row .row{
    display:block;
}
.profile-row img{
    float:left;
    height:400px;
    margin: 5px 20px 20px 0;
}
.profile-row .jumbotron{
    margin-bottom:110px;
}